<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<link rel="stylesheet" type="text/css" href="../static/homepage.css">
	<title>CBD App</title>
</head>
<body>
	<center><h1>CBD App</h1></center>
	<br>
	<br>
	<br>
	<div class="button_div">
		<a href="/genelists"><button class="homepage_button">Gene Lists</button></a>
		<a href="/graph"><button class="homepage_button">Volcano Graphs</button></a>
		<button class="homepage_button">Volcano Plot</button>
		<button class="homepage_button">Search Pubs</button>

	</div>
</body>
</html>